<h1>About Page</h1>

<form action="https://www.getdrip.com/forms/31385593/submissions" method="post" data-drip-embedded-form="31385593">
  <h3 data-drip-attribute="headline">Entry Form</h3>
  <div data-drip-attribute="description"></div>
    <div>
        <label for="fields[email]">Email Address</label><br />
        <input type="email" name="fields[email]" value="" />
    </div>
  <div>
    <input type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
  </div>
</form>